<ion-view view-title="{{chat.name}}">
  <ion-content>
    <section class="container">
      <button class="button button-icon icon ion-navicon child"></button>
    <div class="list list-inset child">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>

    </div>

    </section>


    <div class="bar bar-footer bar-balanced">
      <div class="title">Footer</div>
    </div>

   <!-- <div class="list">
      <label class="item item-input">
        <span class="input-label">Modulname</span>
        <input type="text" ng-model="Obj.modul">
      </label>
      <label class="item item-input">
        <span class="input-label">Credits</span>
        <input type="number" ng-model="Obj.credits">
      </label>
      <label class="item item-input">
        <span class="input-label">Note</span>
        <input type="number" ng-model="Obj.note">
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="submit">Hinzufügen</button>
      </label>

      <button ng-click="closeInput()" class="button button-block button-positive" color="danger" type="button">Schließen</button>

    </div>
-->


    <div id="map" data-tap-disabled="true"></div>



  </ion-content>
</ion-view>
